## Jude Kappel - Assignment 1

In [55]:
import numpy as np
import nltk
nltk.download('twitter_samples')
from nltk.corpus import twitter_samples, stopwords
from nltk.tokenize import word_tokenize
import re
import pandas as pd
from nltk.stem.porter import PorterStemmer



nltk.download('punkt')  # Downloading the correct tokenizer data
nltk.download('punkt_tab')  # Downloading the correct tokenizer data

nltk.download('stopwords')

positive_tweets = twitter_samples.strings('positive_tweets.json')
negative_tweets = twitter_samples.strings('negative_tweets.json')

[nltk_data] Downloading package twitter_samples to
[nltk_data]     /Users/judekappel/nltk_data...
[nltk_data]   Package twitter_samples is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/judekappel/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/judekappel/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/judekappel/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [58]:
corpus = []

positive_df = pd.DataFrame(positive_tweets, columns = ["Tweet"])
positive_df["Class"] = 1

negative_df = pd.DataFrame(negative_tweets, columns = ["Tweet"])
negative_df["Class"] = 0

pos_neg_df = pd.concat([positive_df, negative_df])

for i in range(0,5):
    text = re.sub('[^a-zA-Z]', '', pos_neg_df["Tweet"][i])
    text = text.lower()
    text = text.split()
    ps = PorterStemmer()
    text = "".join(text)
    corpus.append(text)

corpus
## trying to show to you this ishhh
# pos_neg_df

                                                  Tweet  Class
0     #FollowFriday @France_Inte @PKuchly57 @Milipol...      1
1     @Lamb2ja Hey James! How odd :/ Please call our...      1
2     @DespiteOfficial we had a listen last night :)...      1
3                                  @97sides CONGRATS :)      1
4     yeaaaah yippppy!!!  my accnt verified rqst has...      1
...                                                 ...    ...
4995               I wanna change my avi but uSanele :(      0
4996                         MY PUPPY BROKE HER FOOT :(      0
4997           where's all the jaebum baby pictures :((      0
4998  But but Mr Ahmad Maslan cooks too :( https://t...      0
4999  @eawoman As a Hull supporter I am expecting a ...      0

[10000 rows x 2 columns]

In [46]:
positive_tweet_tokens_arr = [np.array(lis) for lis in positive_tweet_tokens]
positive_tweet_tokens_arr = np.array(positive_tweet_tokens_arr)

negative_tweet_tokens_arr = [np.array(lis)for lis in negative_tweet_tokens]
negative_tweet_tokes_arr = np.array(negative_tweet_tokens_arr)

/var/folders/np/h2bn5hq50lv5t15mlthlk1880000gn/T/ipykernel_3319/2500404588.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  positive_tweet_tokens_arr = np.array(positive_tweet_tokens_arr)
/var/folders/np/h2bn5hq50lv5t15mlthlk1880000gn/T/ipykernel_3319/2500404588.py:5: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  negative_tweet_tokes_arr = np.array(negative_tweet_tokens_arr)

In [48]:
positive_tweet_tokens_arr

array([array(['followfriday', 'top', 'engaged', 'members', 'community', 'week'],
             dtype='<U12')                                                      ,
       array(['hey', 'james', 'how', 'odd', 'please', 'call', 'contact',
              'centre', 'able', 'assist', 'many', 'thanks'], dtype='<U7'),
       array(['despiteofficial', 'listen', 'last', 'night', 'as', 'you', 'bleed',
              'amazing', 'track', 'when', 'scotland'], dtype='<U15')             ,
       ..., array(['hey', 'long', 'time', 'talk'], dtype='<U4'),
       array(['matt', 'would', 'say', 'welcome', 'to', 'adulthood', 'http'],
             dtype='<U9')                                                   ,
       array(['could', 'say', 'egg', 'face'], dtype='<U5')], dtype=object)

Sentiment: Positive